@import "tailwindcss";

@font-face {
    font-family: "CustomFont";
    src: url("/assets/fonts/PPNeueBit-Bold.otf") format("opentype");
    /* src: url("assets/fonts/PPMondwest-Regular.otf") format("opentype"); */
    /* src: url("assets/fonts/Fontspring.otf") format("opentype"); */
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: auto;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #b1a7a6;
    background: url("/assets/bg/mainBG.png") no-repeat center center fixed;
    background-size: cover;
    font-family: "CustomFont", Arial, Helvetica, sans-serif;
}

body.home-bg {
    background: url("/assets/bg/home-bg.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.puzzle-bg {
    background: url("/assets/bg/puzzlePgBG.svg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.spriteDetail-bg {
    background: url("/assets/bg/spriteDetailBg.png") no-repeat center center
        fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.fountain-bg {
    background: url("/assets/bg/fountain-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.market-bg {
    background: #140e28;
}

body.pantry-bg {
    background: url("/assets/bg/pantry-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.collection-bg {
    background: url("/assets/bg/collection-bg.png") no-repeat top center scroll;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app {
    /* width: 100%; */
    height: 100vh;
    /* overflow: hidden; */
    /* justify-content: center; */
    /* align-items: center; */
}

/* Removes spinner from number inputs */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield; /* Firefox */
}

@keyframes fade-up {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(-30px);
    }
}

